@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 80px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section1 {
  height: 100vh;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__h2 {
  color: #1a202c;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
}

h1 {
  color: #6415ff;
}

h2 {
  font-size: 56px;
  font-weight: 900;
  color: #243e63;
  margin-top: 16px;
}

.purple {
  color: #6415ff;
}

a {
  text-decoration: none;
  opacity: 0.86;
  transition: all 300ms ease;
}

a:hover {
  text-decoration: underline;
  margin-bottom: 4px;
  opacity: 0.86;
  color: #6415ff;
}

button {
  background: #6415ff;
  color: white;
  padding: 20px 4px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 40px;
  border: none;
  width: 40%;
  margin-top: 32px;
  transition: all 300ms ease;
}

button:hover {
  transform: scaleY(1.1);
  opacity: 0.86;
}

ul {
  list-style-type: none;
}
/* 

LANDING

*/

.btn__menu {
  padding: 0;
  margin: 0 12px;
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #6415ff;
  /* display: none; */
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms ease;
  opacity: 0;
  visibility: hidden;
  border: 0px solid #7c8ba1;
  border-width: 2px;
  height: 50%;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open::after {
  transform: rotate(1.1);
  opacity: 0.86;
}

.btn__menu__--close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px;
  color: white;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  font-size: 22px;
  color: #1a202c;
  font-size: 700;
}
/*  trying to move elements in the container use DISPLAY FLEX properties */
.nav__title {
  font-size: 32px;
  font-weight: 900;
  color: #243e63;
  display: flex;
  align-items: center;
}

.nav__links--list {
  display: flex;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px 24px 0px;
}

.nav__img {
  width: 100%;
  max-width: 60px;
  margin: 0 12px 0 20px;
}

.nav__link--button {
  color: white;
  font-size: 8px;
  font-weight: 500;
  padding: 0px;
  height: 100%;
  width: 100%;
  margin: 2px 0 0 0px;
}

.nav__link--anchor {
  color: white;
  padding: 0px 24px 0px 0px;
}

.nav__link {
  margin: 0px 12px;
}
/* 
header
*/
.p1 {
  font-size: 18px;
  color: #243e63;
  margin: 32px 0 0px 8px;
  text-align: left;
}

.p2 {
  font-size: 16px;
  color: #a0aec0;
  font-weight: 700;
}

.template__wrapper {
  display: flex;
}

.template__description {
  margin-top: 40px;
  padding-top: 40px;
  text-align: left;
}

.template__login {
  margin: 32px 0px 0px 0px;
}

input {
  width: 20%;
  border-radius: 40px;
  height: 70px;
  position: absolute;
  border: 1px solid #7c8ba1;
  border-width: 1px;
}

.template__button {
  width: 35%;
  display: flex;
  padding: 8px;
  position: relative;
  z-index: 1;
  margin: 32px 0px 0px 72px;
  border: 1px solid #7c8ba1;
  border-width: 1px;
}

.header__wrapper2 {
  width: 60%;
  margin-left: 40px;
}
.header__wrapper {
  width: 40%;
  padding: 96px 0px 0px 20px;
}

.header__img--left {
  width: 100%;
  margin-top: 14px;
  opacity: 0.5;
}
.header__img--right {
  width: 100%;
  margin: 60px 20px 0px 0px;
  padding: 0px 36px 0px 0px;
}

/* 

Section

*/

.top__wrapper {
  padding-top: 12%;
  text-align: center;
}

.p3 {
  font-size: 30px;
  color: #7c8ba1;
  margin-top: 24px;
}

.purple__features {
  font-size: 24px;
  font-weight: 700;
}

#features {
  margin-top: 24px;
  padding: 96px;
}

.services {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 24px;
}
.service__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 160px;
  margin: 8px 0px 0px 16px;
}

.service__img--wrapper {
  border: 4px solid #a0aec0;
  border-radius: 100%;
  border-width: 1px;
  height: 40%;
  padding: 16px;
}

.service__img {
  padding: 8px;
}

.service__h3 {
  color: #243e63;
  font-size: 24px;
  font-weight: 700;
}

.service__p {
  color: #7c8ba1;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  margin: 8px 0px 0px;
}

/* 

QUALITY SECTION

*/

.quality__h2 {
  font-size: 56px;
  font-weight: 900;
  color: #243e63;
  margin-top: 16px;
}

.quality__p2 {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 2;
  margin-top: 18px;
}

#quality {
  height: 100vh;
  padding-top: 96px;
}

.quality__1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 90px;
  text-align: left;
}

.quality__2--img {
  width: 100%;
  border: 2px solid #a0aec0;
  border-width: 1px;
}

.quality__2 {
  width: 50%;
}

.quality__wrapper {
  display: flex;
  padding: 0px 40px;
}

/* 
STEPS
*/

#steps {
  height: 100vh;
}

.steps__wrapper {
  display: flex;
}

.steps__1 {
  width: 50%;
  margin: 48px 24px 0px 0px;
}
.steps__2 {
  width: 50%;
}

.steps__img {
  width: 90%;
}

.steps__list--wrapper {
  display: flex;
}

.steps__list--description {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  text-align: left;
}
.steps__h1 {
  color: #cbd5e0;
  font-weight: 600;
  font-size: 48px;
  margin-top: 32px;
  margin-right: 16px;
}

.steps__h3 {
  color: #243e63;
  font-weight: 600;
  font-size: 28px;
}

.steps__p {
  color: #718096;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 12px;
}

/* 

Values

*/

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
  margin-left: 12px;
}

#values {
  height: 100vh;
}

.value__wrapper {
  width: 100%;
  display: flex;
  text-align: left;
  padding: 0px 40px;
}

.value__1 {
  width: 50%;
}

.value__p2 {
  font-size: 18px;
  line-height: 1.5;
  color: #7c8ba1;
  margin-top: 32px;
  font-weight: 500;
}

.value__description--wrapper {
  width: 100%;
  display: flex;
}

.value__description--left-wrapper {
  display: flex;
  margin: 32px 24px 0px 0px;
}
.value__paragraph--left-right {
  font-size: 16px;
  color: #718096;
  margin: 16px 0 0 0;
  line-height: 1.5;
}

.value__description--left {
  width: 50%;
}

.value__description--right {
  width: 50%;
  padding-left: 18px;
}

.value__description--right-wrapper {
  display: flex;
  margin-top: 32px;
}

.value__2 {
  width: 50%;
}
.value__2--img {
  width: 90%;
}

.value__button {
  background: #6415ff;
  color: white;
  padding: 16px 4px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  width: 30%;
  margin-top: 48px;
}

.fa-suitcase {
  border: 5px red none;
  border-radius: 100px;
  padding: 12px;
  opacity: 0.6;
  background-color: #feb2b2;
}

/* 

Plans

*/

li {
  font-size: 16px;
  color: #718096;
  margin: 16px 0px 0px 0px;
  font-weight: 500;
}

.plan__child--ul {
  margin: 12px 0px;
  padding: 20px;
  line-height: 1.5;
}

.plans {
  height: 100vh;
}

.plans__h3 {
  font-size: 18px;
  line-height: 1.5;
  color: #7c8ba1;
  font-weight: 500;
  margin: 16px 0px 0px 0px;
}

.plan__wrapper {
  width: 100%;
}

.plan__section1 {
  text-align: center;
}

.plan__section2 {
  margin: 64px 32px;
  display: flex;
  flex-wrap: wrap;
}

.plan__section--first-child,
.plan__section--middle-child,
.plan__section--last-child {
  width: calc(100% / 3);
  height: 680px;
  display: flex;
  flex-direction: column;
  border-top: 16px solid rgb(129, 230, 217);
  border-radius: 12px;
  text-align: center;
  padding: 32px;
}

.plan__child--title {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
}

.plan__child--price {
  font-size: 48px;
  color: #243e63;
  margin: 4px 0px;
  font-weight: 700;
}

.plan__child--length {
  font-size: 20px;
  color: #a0aec0;
  font-weight: 700;
}

.plan__section--middle-child {
  border: none;
  background-color: rgb(96, 120, 224);
  margin-top: 16px;
}
.plan__section--last-child {
  border-top: 16px solid rgb(245, 101, 101);
}

.plan__child--list {
  height: 50%;
  border-top: 2px solid #cbd5e0;
  border-width: 4px;
  border-radius: 0.5%;
  padding-top: 20px;
  line-height: 1.5;
}

.plan__child--list1 {
  border: none;
  margin-bottom: 24px;
}

.plan__button {
  background-color: rgb(129, 230, 217);
}

.plan__button--last-child {
  background-color: rgb(245, 101, 101);
}
.plan__button--middle-child {
  background-color: white;
  color: #6415ff;
  font-weight: 700;
}

.text__color {
  color: white;
}

/* 

TESTIMONIALS

*/

#testimonials {
  height: 100vh;
}

.ratings {
  color: rgb(255, 200, 0);
}

.testimonial__p {
  font-size: 20px;
  margin-top: 24px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 2;
}

.testimonial__wrapper {
  width: 100%;
  display: flex;
  padding: 0px 36px;
}
.testimonial__left {
  width: 40%;
}

.testmonial_img {
  width: 80%;
  margin-top: 72px;
  padding-top: 72px;
}

.testimonial__right {
  width: 60%;
}

.bottom__h3 {
  font-size: 16px;
  text-align: left;
  margin: 0;
}

.ratings {
  margin-bottom: 20px;
}

.bottom__wrapper {
  margin-top: 20px;
}

.bottom__description {
  display: flex;
  margin-top: 36px;
  width: 100%;
}

.bottom__description--img {
  width: 30%;
  border-radius: 60px;
}

.bottomh3__wrapper {
  display: flex;
  flex-direction: column;
}

.bottom__button {
  color: #7c8ba1;
  background-color: #a0aec0;
  opacity: 0.4;
  padding: 8px 2px;
  height: 100%;
  width: 20%;
  margin-top: 68px;
}

.fa-arrow-left,
.fa-arrow-right {
  color: white;
}

/* 

DEVELOPERS

*/
#developers {
  height: 50vh;
}

.developer__h2 {
  color: #f7fafc;
  font-size: 38px;
  padding-left: 24px;
}

.developer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6415ff;
  border: 2px solid #6415ff;
  border-radius: 8px;
  height: 40vh;
}

.developer__description {
  width: 50%;
}

.developer__button--description {
  display: flex;
  width: 50%;
  padding-left: 36px;
}

.developer__button--1 {
  background-color: #f56f65;
  width: 40%;
  margin-right: 24px;
}
.developer__button--2 {
  border: 2px solid white;
  width: 40%;
}

/*  

LINKS / FOOTER 

*/

#footer {
  height: 70vh;
  padding-top: 96px;
}

.container__links {
  width: 100vw;
  border: 2px solid #6415ff;
  background-color: #6415ff;
  height: 70vh;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
  text-align: left;
}

.footer__link--list {
  color: white;
  text-align: left;
}

.footer__link--list:hover {
  text-decoration: underline;
  margin-bottom: 4px;
  opacity: 0.86;
  color: #fff;
}

.footer__sub-header--title {
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
}

/*  footer below the footer */

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 86px 24px 0px;
  margin-top: 86px;
  border-top: 2px solid #7c8ba1;
  border-width: 1px;
}

.footer__img {
  width: 100%;
  max-width: 72px;
}

.footer__img--header {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer__p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
}

.footer__button {
  background: #fff;
  color: #1a202c;
  padding: 4px 8px;
  border-radius: 40px;
  border: none;
  width: 25%;
  transition: all 300ms ease;
}

.footer__link--img {
  margin-right: 24px;
}

.fa-facebook,
.fa-twitter,
.fa-youtube {
  margin-right: 12px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .nav__title {
    font-size: 14px;
  }

  li {
    font-size: 12px;
    color: #718096;
    margin: 12px 0px;
    font-weight: 500;
  }

  .container {
    padding: 20px 0px;
  }

  .nav__links--list {
    display: none;
  }

  .btn__menu {
    display: block;
    color: #6415ff;
  }

  /* .nav__links {
    width: 100%;
    max-width: 10px;
  } */

  .nav__title {
    margin: 0;
    font-size: 22px;
  }

  /* header */

  h2 {
    font-size: 48px;
  }
  .header__h2 {
    font-size: 36px;
    justify-content: center;
  }

  .p3 {
    font-size: 30px;
  }

  .p1,
  .p2 {
    font-size: 16px;
  }

  .template__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  input {
    width: 30%;
    border-radius: 40px;
    height: 70px;
    position: absolute;
    border: 1px solid #7c8ba1;
    border-width: 1px;
  }

  .template__button {
    width: 35%;
    display: flex;
    padding: 8px;
    position: relative;
    z-index: 1;
    margin: 32px 0px 0px 72px;
    border: 1px solid #7c8ba1;
    border-width: 1px;
  }

  .header__img--right {
    width: 100%;
  }

  /* features */
  .service__p {
    line-height: 2;
    font-size: 12px;
  }

  .service__h3 {
    font-size: 24px;
  }
  .services {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
  }

  .service__description {
    display: flex;
  }

  /* Quality */

  #quality {
    padding: 0px;
    margin: 0px 0px 60px 0px;
    height: 100vh;
  }
  .quality__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
  }

  .quality__p2 {
    font-size: 16px;
  }

  button {
    background: #6415ff;
    color: white;
    padding: 12px 4px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    width: 60%;
    margin-top: 32px;
  }
  .quality__2 {
    padding-top: 20px;
    width: 70%;
  }
  .quality__img--2 {
    width: 150%;
  }

  /* Steps */

  .steps__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .steps__2 {
    margin-top: 48px;
  }

  .steps__h1 {
    font-size: 24px;
  }
  .steps__h3 {
    font-size: 18px;
  }

  .steps__p {
    font-size: 16px;
  }

  /* Values */

  #values {
    padding: 0px 0px 64px 0px;
    height: 100vh;
  }
  .value__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 80px;
    padding-bottom: 80px;
  }

  .value__p2 {
    font-size: 18px;
  }

  .value__paragraph--left-right {
    font-size: 16px;
  }

  h3 {
    font-size: 18px;
  }

  .fa-suitcase {
    padding: 12px;
  }

  .value__button {
    background: #6415ff;
    color: white;
    padding: 12px 8px;
    font-size: 16px;
    border-radius: 40px;
    border: none;
    width: 30%;
    margin-top: 24px;
  }

  .value__2 {
    margin-bottom: 24px;
    width: 70%;
  }

  /* PLANS/ PRICING */

  #plans {
    margin-top: 96px;
  }

  .plan__wrapper {
    margin-top: 86px;
  }
  .plan__section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan__section--first-child,
  .plan__section--last-child,
  .plan__section--middle-child {
    width: 100%;
  }

  /* Testimonials */

  .testimonial__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial__p {
    font-size: 16px;
    margin: 12px 12px;
  }

  .testmonial_img {
    width: 120%;
  }

  .bottom__h3 {
    font-size: 20px;
  }

  /* Developers */

  .developer__h2 {
    font-size: 36px;
  }

  .developer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Footer */

  .footer__sub-header--title {
    font-size: 16px;
  }

  .footer__link--list {
    font-size: 18px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__p {
    font-size: 20px;
  }

  .footer__button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__img--header {
    padding-right: 20px;
  }
}
/* 

SMALL PHONES, LARGE SMARTPHONES

*/

@media (max-width: 550px) {
  .container {
    padding: 20px 0px;
  }
  .nav__links--list {
    display: none;
  }

  .nav__links {
    width: 100%;
    max-width: 10px;
  }

  .nav__title {
    margin: 0;
    font-size: 16px;
  }

  .btn__menu {
    display: block;
    color: #6415ff;
  }

  /* header */

  h2 {
    font-size: 36px;
  }
  .header__h2 {
    font-size: 24px;
    justify-content: center;
  }

  .p3 {
    font-size: 18px;
  }

  .p1,
  .p2 {
    font-size: 12px;
  }

  .template__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .header__img--right {
    width: 120%;
  }

  /* features */
  .service__p {
    line-height: 1;
  }
  .services {
    display: flex;
    flex-direction: column;
  }

  .service__description {
    display: flex;
  }

  /* Quality */

  #quality {
    padding: 0;
  }
  .quality__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
  }

  .quality__p2 {
    font-size: 12px;
  }

  button {
    background: #6415ff;
    color: white;
    padding: 8px 4px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    width: 40%;
    margin-top: 32px;
  }

  /* Steps */

  .steps__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .steps__2 {
    margin-top: 48px;
  }

  .steps__h1 {
    font-size: 24px;
  }
  .steps__h3 {
    font-size: 18px;
  }

  .steps__p {
    font-size: 16px;
  }

  /* Values */

  .value__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .value__p2 {
    font-size: 14px;
  }

  .value__paragraph--left-right {
    font-size: 12px;
  }

  h3 {
    font-size: 16px;
  }

  .fa-suitcase {
    padding: 8px;
  }

  .value__button {
    background: #6415ff;
    color: white;
    padding: 4px 4px;
    font-size: 12px;
    border-radius: 40px;
    border: none;
    width: 30%;
    margin-top: 24px;
  }

  /* PLANS/ PRICING */

  .plan__section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan__section--first-child,
  .plan__section--last-child,
  .plan__section--middle-child {
    width: 100%;
  }

  /* Testimonials */

  .testimonial__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial__p {
    font-size: 12px;
    margin: 12px 12px;
  }

  .testmonial_img {
    width: 120%;
  }

  /* Developers */

  .developer__h2 {
    font-size: 24px;
  }

  .developer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Footer */

  .footer__sub-header--title {
    font-size: 14px;
  }

  .footer__link--list {
    font-size: 12px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
